.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;

  padding: 24px 0;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

@media screen and (max-width: 768px) {
  .gallery-item {
    width: calc((100% - 24px) / 2);
  }
}
